@import url("https://use.typekit.net/bcx7vnk.css");


// FONTS
%mrs-eaveas-ot-roman{
    font-family: $mr-eaves-ot;
    font-style:normal;
    font-weight: 400;
}

%mrs-eaveas-ot-italic{
    font-family: $mr-eaves-ot;
    font-style:italic;
    font-weight: 400;
}

%mrs-eaveas-ot-bold{
    font-family: $mr-eaves-ot;
    font-style:normal;
    font-weight: 700;
}

%mrs-eaveas-sans{
    font-family:mrs-eaveas-sans,sans-serif    ;
    font-style:normal;
    font-weight: 700;
}