@import url("https://use.typekit.net/bcx7vnk.css");

// COLORS
$dark : #3c434c;
$blue : #1472b9;
$gold : #b78c2e;
$yellow: #e9ab21;
$lighgrey:#cdcfd1;

// Fonts
$font-logo:mrs-eaves-roman-small-caps;
$mr-eaves-ot:mrs-eaveas,serif
