@import './index.scss';
// //////////////////////// //////// //////// 
// INVENTORY, CATEGORY LIST COMPONENT/////
/////////////////////////////////// //////// 

/*Category List*/
.category-list{
    background-color:$dark;
    min-height: 87vh;
}

li {
    @extend %mrs-eaveas-sans-bold;
    color:#fff;
    font-size:16px;
    list-style: none;
    cursor:pointer;
}

.filter-orderby{
    @extend %mrs-eaveas-sans-bold;
    color:#fff;
    font-size:16px;
    list-style: none;
    cursor:text;
}