@import './index.scss';
// ///////////////////
//CHECKOUT COMPONENT/////
//////////////////////
.btn-primary{
    font-size:14px;
    padding:10px 18px 10px 10px;
    background-color:$blue;
}
.checkout-row{
    border:1px solid darkgrey;
    min-height: 60vh;
}

.billing-row{
    background-color:$lightgrey;
}
.label-header{
    @extend %mrs-eaveas-sans;
    font-size:24px;
    color:black;
    opacity:0.8;
}
label{
    @extend %mrs-eaveas-sans;
    font-size:18px;
}
.items-row{
    background-color:$lightgrey 
}

// ORDER

.order-row{
    @extend %mrs-eaveas-sans;
    font-size:18px;
}

.order-price{
    font-family:Roboto;
    font-size:18px;
}

.order-shipping{
    font-family:Roboto;
    font-size:14px;
}

.line{
    border-bottom:0.50px solid darkgrey;
}
.btn-gold{
    @extend %button-primary;
}

